[include]
	path = ~/.gitconfig-user



[color]
	ui = auto

[commit]
	gpgsign = false
	verbose = true

[core]
	excludesfile = ~/.gitignore-global
	editor = atom -w
	mergeoptions = --no-edit

[credential]
	helper = osxkeychain

[fetch]
	prune = 1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[hub]
	protocol = https

[push]
	default = simple
