[github]
	user = marcqualie

[gpg]
	program = /opt/homebrew/bin/gpg

[credential]
	helper = osxkeychain

[color]
	ui = auto

[commit]
	gpgSign = true
	verbose = true

[core]
	excludesfile = ~/.gitignore-global
	editor = c --wait
	mergeoptions = --no-edit
	hooksPath = ~/.dotfiles/.githooks

[diff]
  tool = default-difftool

[difftool "default-difftool"]
  cmd = c --wait --diff $LOCAL $REMOTE

[fetch]
	prune = 1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[hub]
	protocol = ssh
[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@gist.github.com:"]
  insteadOf = https://gist.github.com/

[push]
	default = simple
[pull]
	rebase = true
[init]
	defaultBranch = main

# Per device overrides (M1 vs Intel)
[include]
  path = ~/.dotfiles/.gitconfig.device

